@charset "UTF-8";

@font-face {
    font-family:'Bebas Neue' ;
    src: url(../fontes/BebasNeue-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
}



:root{
  --cor1:#c5ebd6;
  --cor2:#83e1ad;
  --cor3:#3ccd84;
  --cor4:#2fa866;
  --cor5:#1a5c37;
  --cor6:#063d1e;
  --fontepadrao: Arial, Verdana,Helvetica, sans-serif;
  --fontedestaque:'Bebas Neue', sans-serif;
  --fonteandriod:'Android',sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor1) ;
    font-family: var(--fontepadrao);
}
a.externo::after{
    content:"\00A0\1F517";

}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
}
header >h1{
    color: white;
    font-size: 3em;
    
    font-family: var(--fontedestaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}
header > p{
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    margin-bottom: 30px;
}
nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.473);
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor6);
}


main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}
main h1{
    color: var(--cor5);
    font-family:var(--fonteandriod);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonteandriod);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor2),transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
    font-size: 1em;
}
main strong{
    color: var(--cor5);
    font-weight: bold;
    
}
main a{
    background-color: var(--cor2);
    padding: 2px 6px;
    color: var(--cor6);
    font-weight: bold;
    text-decoration:none;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding: 50%;
    padding-bottom: 58%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
}
aside >h3{
     background-color: var(--cor5);
     color: var(--cor1);
     padding: 5px;
     margin: -10px -10px 0px -10px;
     border-radius: 10px 10px 0px 0px;
     font-family: var(--fonteandriod);
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;


}
footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}